/* Félix - 2022-05-30 - DMAIL 1 (NIVEAU 1) */
#gameContainerDmail1Scene1 {
    background-image: url(../assets/bg/labo/BG01A.PNG);
}

#gameContainerDmail1Scene2 {
    background-image: url(../assets/bg/moekahouse/BG32A.PNG);
    display: none;
}

#gameContainerDmail1Scene3 {
    background-image: url(../assets/bg/moekahouse/BG33N.PNG);
    display: none;
}
#gameContainerDmail1Scene4 {
    background-image: url(../assets/bg/moekahouse/BG33N.PNG);
    display: none;
}
#voiceOnlyArea4 {
    background-image: url(../assets/gfx/voiceOnly.jpg);
    display: none;
}
#gameContainerDmail1Scene5 {
    background-image: url(../assets/bg/coinlocker/BG21N.PNG);
    display: none;
}