/* Styles for the 1st dmail stage */

/*Temporary, for testing, you can change it*/
#gameContainerDmail1Scene1 {
    background-image: url(../assets/bg/labo/BG01A.PNG);
}

#gameContainerDmail1Scene2 {
    background-image: url(../assets/bg/labo/BG02E2.PNG);
    display: none;
}