#gameContainerDmail2Scene1 {
    background-color: black;
}
#gameContainerDmail2Scene2 {
    display: none;
    
}
#gameContainerDmail2Scene2::before {
    background-image: url(../assets/bg/moekahouse/BG34A.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadein 4s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#gameContainerDmail2Scene3 {
    background-image: url(../assets/bg/labo/BG05A1.PNG);
    display: none;
}

#gameContainerDmail2Scene4 {
    background-image: url(../assets/bg/labo/BG02A1.PNG);
    display: none;
}

#gameContainerDmail2Scene5 {
    background-image: url(../assets/bg/labo/BG03A4.PNG);
    display: none;
}

#ibn5100BoxLocation {
    position: absolute;
    width: 60px;
    height: 45px;
    left: 338px;
    top: 10px;
    border: 2px #55574f solid;
    color: #55575f;
    display: none;
    transform: rotate(9deg);
    font-size: small;
}

#ibn5100BoxLocation:hover {
    cursor: pointer;
}

#gameContainerDmail2Scene6 {
    display: none;
}
#gameContainerDmail2Scene6::before {
    background-image: url(../assets/bg/labo/BG02A1.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadein 3s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#gameContainerDmail2Scene7 {
    background-image: url(../assets/bg/labo/BG02A1.PNG);
    display: none;
}
#gameContainerDmail2Scene8 {
    background-image: url(../assets/bg/radikan/BG11A3.PNG);
    display: none;
}
.quiz {
    display: none;
    margin: 20px;
}

.quiz input:hover {
    cursor: pointer;
}
#area7Phone {
    background-image: url(../assets/gfx/phone8-13.png);
}
#area7Phone:hover {
    cursor: pointer;
}

#area2Phone {
    background-image: url(../assets/gfx/phone8-15.png);
}

#gameContainerEndingVideo {
    display: none;
}

#endingVideo {
    width: 1280px;
    height: 720px;
}