#gameContainerDmail2Scene1 {
    background-color: black;
}
#gameContainerDmail2Scene2 {
    display: none;
    
}
#gameContainerDmail2Scene2::before {
    background-image: url(../assets/bg/moekahouse/BG34A.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadein 4s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
